.logo{
    height:22px;
}
.header{
    display: flex;
 justify-content: space-between;
 align-items: center;
 background-color: #fdf2e9;
 height:96px;
 padding: 0 48px;
}
.main-nav-list{
    display: flex;
    list-style: none;
    gap:32px;
    align-items: center;
}

.main-nav-link:link,
.main-nav-link:visited{
    display: inline-block;
    text-decoration: none;
    color:#333;
    font-weight: 500;
    font-size: 18px;
transition: all 0.3s;
}
.main-nav-link:hover,
.main-nav-link:active{
    color:#cf711f;
}

.nav-cta:link,
.nav-cta:visited{
    padding:12px 24px;
    border-radius: 9px;
    color:#fff;
    background-color: #e67e22;
}
.nav-cta:hover,
.nav-cta:active{
    color:#fff;
    background-color: #cf711f;
}


@media(max-width:64em){
    .main-nav-list {
        grid-gap: 24px;
        gap: 24px;
       
    }
    .main-nav-link:link, .main-nav-link:visited {
        font-size: 16px;
    }
    .header {
        padding: 0 24px;
    }
}

@media(max-width:47.5em){
    .main-nav{
        display:none;
    }
}