.section-testimonial{
    margin: 0 80px;
    padding: 96px 32px;
    
}
.testimonial-main-container{
    background-color: #fdf2e9;
}

.testimonial-grid-container{
    display: grid;
    grid-template-columns: 55fr 45fr;
    align-items: center;
gap:96px;

}
.testimonials{
    display: grid;
    grid-template-columns: 1fr 1fr;
   row-gap:48px;
   column-gap: 80px;
}
.testimonial-img{
    width:64px;
    border-radius: 50%;
    margin-bottom: 12px;
}
.testimonial-text{
font-size: 18px;
line-height: 1.8;
margin-bottom: 16px;
}

.testimonial-name{
font-size: 16px;
color:#6f6f6f;
}

.heading-secondary-testimonial{
    letter-spacing: -0.5px;
    color:#333;
    font-size:36px;
    line-height: 1.2;
    margin-bottom: 96px;
    }


    .subheading-testimonial{
        display: block;
        font-size: 16px;
        font-weight: 500;
        color: #cf711f;
        text-transform: uppercase;
        margin-bottom: 16px;
        letter-spacing: 0.75px;
        }

        .gallery{
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            gap:16px;
        }

        .gallery-item{
            overflow: hidden;
        }
        .gallery-item img{
            display: block;
            width:100%;
            transition: all 0.4s;
        }
        .gallery-item img:hover{
          
            transform: scale(1.1);
        }

        @media(max-width:85.375em){
            .gallery{
                grid-template-columns: 1fr 1fr;
               
            }
            .heading-secondary-testimonial{
                font-size: 36px;
            }
        }

        @media(max-width:75.625em){
        .section-testimonial {
            margin: 0 64px;
            padding: 96px 24px;
        }
    }

    @media(max-width:64em){
        .testimonial-grid-container {
            grid-template-columns: 1fr;
        }
        .heading-secondary-testimonial {
            font-size: 32px;
        }
        .gallery {
            grid-template-columns: repeat(4, 1fr);
        }
        .section-testimonial {
            margin: 0 64px;
            padding: 96px 0px;
        }
    }

    @media (max-width: 47.5em){
.heading-secondary-testimonial {
    margin-bottom: 48px;
}
}

@media(max-width:34.37em){
    .testimonials {
        grid-template-columns: 1fr;
    }
  
    .gallery {
        grid-template-columns: repeat(3, 1fr) !important;
    }    
    
}


@media(max-width:28.12em){
}